openai
groq
anthropic

python-dotenv

beautifulsoup4
requests

duckduckgo-search

rank-bm25
langchain
langchain-community
scikit-learn

flask
flask_cors
flask_sqlalchemy
flask_login
